body 
{
	font-family: Arial, sans-serif;
}
.hero-section
{
	min-height:100vh;
	background:linear-gradient(135deg, #0f172a, #1e293b);
	color:white;
	display:flex;
	align-items:center;
	padding-top:80px;
}
.name
{font-size:55px;
font-weight:bold;
color:#38bdf8;
}
.profession
{
	margin-top:20px;
	margin-bottom:20px;
	color:#cbd5e1;
}
.hero-section p
{
	font-size:18px;
	margin-bottom:30px;
}
.profile-img
{
	width:350px;
	height:350px;
	border-radius:50%;
	object-fit:cover;
	border:6px solid #38bdf8;
	box-shadow:0 0 30px rgba(56, 189, 248, 0.5);
}
.social-icons a:hover
{	
	color: white;
	font-family: 30px;
	margin-right:20px;
	transition: 0.3s;
}

.social-icons a:hover{
	color: #38bdf8;
}
.navbar{
	padding:15px;
	}
	
.nav-link:hover{
	color: #38bdf8; !important;
}

