{% extends "base.html" %}
{% block title %}
About
{% endblock %}
{% block content %}
<!--About Section-->
<section class="about-section"> 
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<h2 class="name">About Me</h2>              
			 	<h3 class="profession">Python Developer & DevOps Engineer</h3>
			
			            <p>I am Vinayakgouda, passionate Python developer and DevOps engineer.</p>
			            <p>I enjoy building webapplication, automating deployments and learning cloud technologies.</p>
			            <p>My goal is to become a successful freelancer and work on real-world projects.</p>

			            <a href="/download-resume" class="btn btn-primary ">Download Resume</a>
						
            </div>
			<div class="col-lg-6 text-center">
                <img src="{{ url_for('static', filename='images/mee.jpeg') }}" class="profile-img" alt="About Image">
				</div>
			</div>
		</div>
 </section>
{% endblock %}
